<div{{ attributes.addClass('mdc-data-table__pagination') }}>
  <div class="mdc-data-table__pagination-trailing">
    <div class="mdc-data-table__pagination-navigation">
      <div class="mdc-data-table__pagination-total">
        {{ total }}
      </div>
      {% for item in controls %}
        {% set index = loop.index0 %}
        {% set key = ['first', 'prev', 'next', 'last'][index] %}
        {% set icon = ['first_page', 'chevron_left', 'chevron_right', 'last_page'][index] %}
        {% if item.url %}
        <a class="mdc-icon-button material-icons mdc-data-table__pagination-button" data-{{ key }}-page="true" href="{{ item.url }}" title="{{ item.text }}">
          <div class="mdc-button__icon">{{ icon }}</div>
        </a>
        {% else %}
        <button class="mdc-icon-button material-icons mdc-data-table__pagination-button" data-{{ key }}-page="true" disabled>
          <div class="mdc-button__icon">{{ icon }}</div>
        </button>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
