{% if variant and variant != 'default' %}
  {% set attributes = attributes.addClass('mdc-banner--' ~ variant|replace({_: '-'})) %}
{% endif %}

<div{{ attributes.addClass('mdc-banner').setAttribute('role', 'banner') }}>
  <div class="mdc-banner__content" role="alertdialog" aria-live="assertive">
    <div class="mdc-banner__graphic-text-wrapper">
      {% if graphic %}
      <div class="mdc-banner__graphic" role="img" alt=""><i class="material-icons mdc-banner__icon">{{ graphic }}</i></div>
      {% endif %}
      {% if text %}
      <div class="mdc-banner__text">
      {{ text }}
      </div>
      {% endif %}
    </div>
      {% if primary_action or secondary_action %}
    <div class="mdc-banner__actions">
      {{ primary_action|add_class('mdc-banner__primary-action') }}
      {{ secondary_action|add_class('mdc-banner__secondary-action') }}
    </div>
    {% endif %}
  </div>
</div>
