{% if variant and variant != 'default' %}
  {% set attributes = attributes.addClass('mdc-chip-set--' ~ variant) %}
{% endif %}

<div{{ attributes.addClass('mdc-chip-set').setAttribute('role', 'grid') }}>
  {{ chips }}
</div>
