{% if variant and variant != 'default' %}
  {% set attributes = attributes.addClass('mdc-image-list--' ~ variant|replace({_: '-'})) %}
{% endif %}

{% set gutter_size = gutter_size|default(4) %}
{% set column_count = column_count|default(5) %}
{% set images = images and images is not sequence ? [images] : images %}

{% if variant == 'masonry' %}
{% set masonry_style = 'column-count: ' ~ column_count ~ '; column-gap: ' ~ gutter_size ~ 'px;' %}
<ul{{ attributes.addClass('mdc-image-list').setAttribute('style', masonry_style) }}>
{% for image in images %}
  <li class="mdc-image-list__item">
    {{ image }}
    {% set index = loop.index0 %}
    {% if labels[index] %}
    <div class="mdc-image-list__supporting">
      <span class="mdc-image-list__label">{{ labels[index] }}</span>
    </div>
    {% endif %}
  </li>
{% endfor %}
</ul>
{% else %}
<ul{{ attributes.addClass('mdc-image-list') }}>
{% for image in images %}
  <li class="mdc-image-list__item" style="width: calc(100% / {{ column_count }} - {{ gutter_size + 1 / column_count }}px); margin: {{ gutter_size / 2 }}px;">
    <div class="mdc-image-list__image-aspect-container">
    {{ image|add_class('mdc-image-list__image') }}
    </div>
    {% set index = loop.index0 %}
    {% if labels[index] %}
    <div class="mdc-image-list__supporting">
      <span class="mdc-image-list__label">{{ labels[index] }}</span>
    </div>
    {% endif %}
  </li>
{% endfor %}
</ul>
{% endif %}
