{% if variant and variant != 'default' %}
  {% set attributes = attributes.addClass('mdc-top-app-bar--' ~ variant) %}
{% endif %}

<header{{ attributes.addClass('mdc-top-app-bar') }}>
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      {{ navigation|add_class('mdc-top-app-bar__navigation-icon') }}
      {% if title %}
      <div class="mdc-top-app-bar__title">{{ title }}</div>
      {% endif %}
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      {{ buttons|add_class('mdc-top-app-bar__action-item') }}
    </section>
  </div>
  {{ additional }}
</header>
