{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
{{ include('ui_suite_material:icon_button', {
  url: breadcrumb|last().url ?: url('<front>'),
  icon: 'arrow_back',
  label: breadcrumb|last().title ?: 'Home'|t,
}, with_context: false) }}
{% endif %}
