{#
/**
 * @file
 * Default theme implementation for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 *
 * @ingroup themeable
 */
#}
{% set variant = is_active ? 'active' : '' %}
{{ include('ui_suite_material:tab', {
  variant: variant,
  attributes: attributes.setAttribute('href', link['#url'].toString()),
  text: link['#title'],
}, with_context: false) }}
