{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions: see ui_suite_protocol.info.yml
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
{% if page.header_navigation or page.header_title or page.header_buttons %}
  {{ include('ui_suite_material:top_app_bar', {
  navigation: page.header_navigation,
  title: page.header_title,
  buttons: page.header_buttons,
}, with_context: false) }}
{% endif %}

<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

{% if page.sidebar_first and page.sidebar_second %}
  {{ include('ui_suite_material:grid_row_3', {
    span_desktop: [8, 2, 2],
    span_tablet: [8, 4, 4],
    span_phone: [4, 4, 4],
    order: [2, 1, 3],
    first: page.content,
    second: page.sidebar_first,
    third: page.sidebar_second,
  }, with_context: false) }}
{% elseif page.sidebar_first and not page.sidebar_second %}
  {{ include('ui_suite_material:grid_row_2', {
    span_desktop: [10, 2],
    span_tablet: [8, 8],
    span_phone: [4, 4],
    order: [2, 1],
    first: page.content,
    second: page.sidebar_first,
  }, with_context: false) }}
{% elseif not page.sidebar_first and page.sidebar_second %}
  {{ include('ui_suite_material:grid_row_2', {
    span_desktop: [10, 2],
    span_tablet: [8, 8],
    span_phone: [4, 4],
    first: page.content,
    second: page.sidebar_second,
  }, with_context: false) }}
{% else %}
  {{ include('ui_suite_material:grid_row_1', {
    content: page.content,
    span: 12,
  }, with_context: false) }}
{% endif %}

{% if page.footer %}
  <footer role="contentinfo">
    {{ page.footer }}
  </footer>
{% endif %}
