<tr{{ attributes.addClass('mdc-data-table__row') }}>
  {% if head %}
  <td class="mdc-data-table__cell" scope="row">{{ head }}</td>
  {% endif %}
  {% set cells = cells and cells is not sequence ? [cells] : cells %}
  {% for cell in cells %}
  <td class="mdc-data-table__cell">{{ cell }}</td>
  {% endfor %}
</tr>
