{% set attributes = variant and (variant != 'default') ? attributes.addClass('mdc-data-table--' ~ variant|replace({_: '-'})) : attributes %}
<div {{ attributes.addClass('mdc-data-table') }}>
  <div class="mdc-data-table__table-container">
    <table class="mdc-data-table__table" {% if label %}aria-label="{{ label }}"{% endif %}>
      {% if header %}
      <thead>
        <tr class="mdc-data-table__header-row">
          {% set header = header and header is not sequence ? [header] : header %}
          {% for cell in header %}
          <th class="mdc-data-table__header-cell" role="columnheader" scope="col">{{ cell }}</th>
          {% endfor %}
        </tr>
      </thead>
      {% endif %}
      <tbody class="mdc-data-table__content">
        {{ content }}
      </tbody>
    </table>
  </div>
</div>
