{% if variant and variant != 'default' %}
  {% set attributes = attributes.addClass('mdc-chip--' ~ variant) %}
{% endif %}

<div{{ attributes.addClass('mdc-chip') }}>
  <div class="mdc-chip__ripple"></div>
  {% if variant == 'touch' %}
  <div class="mdc-chip__touch"></div>
  {% endif %}
  {% if variant == 'selected' %}
  <div class="mdc-chip__checkmark"><svg class="mdc-chip__checkmark-svg" viewBox="-2 -3 30 30"><path class="mdc-chip__checkmark-path" fill="none" stroke="black" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path></svg></div>
  {% endif %}
  {% if icon and variant != 'selected' %}
  <i class="material-icons mdc-chip__icon mdc-chip__icon--leading mdc-chip__icon--leading">{{ icon }}</i>
  {% endif %}
  <span class="mdc-chip__text">{{ text }}</span>
</div>
