{% if variant and variant != 'default' %}
  {% set attributes = attributes.addClass('mdc-deprecated-list--' ~ variant) %}
{% endif %}

{% if header %}
{% set heading_level = heading_level|default('3') %}
<h{{ heading_level }} class="mdc-list-group__subheader">{{ header }}</h{{ heading_level }}>
{% endif %}
<ul{{ attributes.addClass('mdc-deprecated-list') }}>
  {{ items }}
</ul>
