{#
/**
 * @file
 * UI Pattern meta information.
 */
#}
{% if component.slots or component.props %}
{% set content = [] %}

{% for slot_id, slot in component.slots %}
  {% set row_component = include('ui_suite_material:data_table_row', {
    cells: [
      {
        '#type': 'html_tag',
        '#tag': 'code',
        '#value': slot_id,
      },
      slot.title,
      'Slot'|t,
      slot.description,
    ],
  }, with_context: false) %}
  {% set content = content|merge([row_component]) %}
{% endfor %}
{% for prop_id, prop in component.props.properties %}
  {% if prop_id != 'attributes' and prop_id != 'variant' %}
    {% set row_component = include('ui_suite_material:data_table_row', {
      cells: [
        {
          '#type': 'html_tag',
          '#tag': 'code',
          '#value': prop_id,
        },
        prop.title,
        prop.ui_patterns.type_definition.label,
        prop.ui_patterns.summary|join('<br>'),
      ],
    }, with_context: false) %}
    {% set content = content|merge([row_component]) %}
  {% endif %}
{% endfor %}

{% for row in rows %}

{% endfor %}

{{ include('ui_suite_material:data_table', {
  header: [
   'Name'|t,
   'Label'|t,
   'Type'|t,
   'Description'|t,
  ],
  content: content,
}, with_context: false) }}

{% endif %}
