{#
/**
 * @file
 * UI Patterns components menu.
 */
#}
{% if groups %}
  <div class="mdc-list-group">
    <h2 class="visually-hidden">{{ 'Available components'|t }}</h2>
    {% if groups|length > 1 %}
      {% for group_name, components in groups %}
        <h3 class="mdc-list-group__subheader">{{ group_name }}</h3>
        <ul class="mdc-deprecated-list">
          {% for component in components %}
            <li class="mdc-deprecated-list-item">
              <a class="mdc-deprecated-list-item__text" href="#{{ component.id }}">{{ component.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% else %}
      <ul class="mdc-deprecated-list">
        {% for component in components %}
          <li class="mdc-deprecated-list-item">
            <a class="mdc-deprecated-list-item__text" href="#{{ component.id }}">{{ component.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endif %}
