<div{{ attributes.addClass('mdc-layout-grid') }}>
  <div class="mdc-layout-grid__inner">
  {% for region in [first, second] %}
    {% set cell_attributes = create_attribute().addClass([
      'mdc-layout-grid__cell',
      span[loop.index0] ? 'mdc-layout-grid__cell--span-' ~ span[loop.index0],
      span_phone[loop.index0] ? 'mdc-layout-grid__cell--span-' ~ span_phone[loop.index0] ~ '-phone',
      span_tablet[loop.index0] ? 'mdc-layout-grid__cell--span-' ~ span_tablet[loop.index0] ~ '-tablet',
      span_desktop[loop.index0] ? 'mdc-layout-grid__cell--span-' ~ span_desktop[loop.index0] ~ '-desktop',
      order[loop.index0] ? 'mdc-layout-grid__cell--order-' ~ order[loop.index0],
      align[loop.index0] ? 'mdc-layout-grid__cell--align-' ~ align[loop.index0],
    ]) %}
    <div{{ cell_attributes }}>
      {{ region }}
    </div>
  {% endfor %}
  </div>
</div>
