{% if variant and variant != 'default' %}
  {% set attributes = attributes.addClass('mdc-snackbar--' ~ variant) %}
{% endif %}

{% set aria_live = {
  log: 'polite',
  status: 'polite',
  alert: 'assertive',
}[role]
%}

<div{{ attributes.addClass('mdc-snackbar') }}>
  <div class="mdc-snackbar__surface">
    <div class="mdc-snackbar__label"
         role="{{ role }}"
         aria-live="{{ aria_live }}">
      {{ label }}
    </div>
    {% if button %}
    <div class="mdc-snackbar__actions">
      {{ button|add_class('mdc-snackbar__action') }}
    </div>
    {% endif %}
  </div>
</div>
