{#
/**
 * @file
 * Styles page template, override this in your theme.
 */
#}

{% if styles is not empty %}
<div class="mdc-layout-grid">
<div class="mdc-layout-grid__inner">

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
  <h2 class="hidden">{{ 'Available styles'|t }}</h2>

  {# List of available styles with anchor links. #}
  {% for group_name, group_styles in styles %}
      {% if styles|length > 1 %}
        <h3>{{ group_name }}</h3>
      {% endif %}
  <ul class="mdc-list ">
    {% for style in group_styles %}
      <li class="mdc-list-item">
        <a href="#{{ style.id }}">{{ style.label }}</a>
      </li>
      {% endfor %}
    </ul>
  {% endfor %}

</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10">

  {% for group_styles in styles %}
    {% for style in group_styles %}
      <h3 class="mdc-typography--headline3" id="{{ style.id }}">{{ style.label }}</h3>
      {% if style.description %}
        <p>{{ style.description }}</p>
      {% endif %}
      {# External documentation links. #}
      {% if style.render_links %}
        <p>
          {% for renderLink in style.render_links %}
            {{ renderLink|add_class('mdc-button--raised mdc-button mdc-ripple-upgraded') }}
          {% endfor %}
        </p>
      {% endif %}
      {% for id, option in style.preview_options %}
        {% set option_attributes = create_attribute()
          .addClass(id)
          .addClass(option.previewed_with) %}
        {% set previewed_as = option.previewed_as %}
        {% set label = option.label %}

        {% if previewed_as == 'aside' %}
          <p>{{ label }} ({{ id }})</p>
          <div{{ option_attributes }}>{{ 'Example'|t }}</div>
        {% elseif previewed_as == 'hidden' %}
          <p>{{ label }} ({{ id }})</p>
        {% else %}
          <p{{ option_attributes }}>{{ label }} ({{ id }})</p>
        {% endif %}

        {% if option.description is not empty %}
          <p>{{ option.description }}</p>
        {% endif %}
      {% endfor %}
      <hr>
    {% endfor %}
  {% endfor %}

  </div>
</div>
{% endif %}
