{% if variant and variant != 'default' %}
  {% set attributes = attributes.addClass('mdc-tab--' ~ variant) %}
{% endif %}

<a{{ attributes.addClass('mdc-tab').setAttribute('aria-selected', 'true').setAttribute('role', 'tab').setAttribute('tabindex', '0') }}>
  <span class="mdc-tab__content">
    {% if icon %}
    <span class="mdc-tab__icon material-icons" aria-hidden="true">{{ icon }}</span>
    {% endif %}
    <span class="mdc-tab__text-label">{{ text }}</span>
  </span>
  {% if variant == 'active' %}
  <span class="mdc-tab-indicator mdc-tab-indicator--active">
    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
  </span>
  {% else %}
  <span class="mdc-tab-indicator">
    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
  </span>
  {% endif %}
  <span class="mdc-tab__ripple"></span>
</a>
