<div{{ attributes.addClass('mdc-layout-grid') }}>
  <div class="mdc-layout-grid__inner">
  {% set cell_attributes = create_attribute().addClass([
    'mdc-layout-grid__cell',
    span ? 'mdc-layout-grid__cell--span-' ~ span,
    span_phone ? 'mdc-layout-grid__cell--span-' ~ span_phone ~ '-phone',
    span_tablet ? 'mdc-layout-grid__cell--span-' ~ span_tablet ~ '-tablet',
    span_desktop ? 'mdc-layout-grid__cell--span-' ~ span_desktop ~ '-desktop',
    align ? 'mdc-layout-grid__cell--align-' ~ align,
  ]) %}
  {% set content = content and content is not sequence ? [content] : content %}
  {% for item in content %}
    <div{{ cell_attributes }}>
      {{ item }}
    </div>
  {% endfor %}
  </div>
</div>
